<div class="panel panel-clean">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-show="errorMsg">
                <a href="" class="close" ng-click="errorMsg=''">&times;</a>
                {{errorMsg}}</div>
            <div class="alert alert-success" ng-show="msg">
                <a href="" class="close" ng-click="msg=''">&times;</a>
                {{msg}}</div>
        </div>
    </div>
</div>

<div class="panel panel-default ng-scope">
    <div class="panel-heading">
        <i c8y-icon="gamepad" class="fa fw fa-gamepad"></i> Operations</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>
                    <input type="radio" ng-model="operationCommand.type" value="jad">Software-Update
                </td>
                <td>
                    <div class="form-group nullable">
                        JAD<br>
                        <select ng-options="binary as binary.name+' vom '+(binary.lastUpdated | date:'dd.MM.yyyy HH:mm:ss') for binary in binaries | orderBy:'-lastUpdated' | filter:byType('jad')"
                                ng-model="operationCommand.selectedJAD"
                                ng-click="operationCommand.type='jad'">
                            <option value="">----</option>
                        </select>
                    </div>
                    <div class="form-group nullable">
                        JAR<br>
                        <select ng-options="binary as binary.name+' vom '+(binary.lastUpdated | date:'dd.MM.yyyy HH:mm:ss') for binary in binaries | orderBy:'-lastUpdated' | filter:byType('jar')"
                                ng-model="operationCommand.selectedJAR"
                                ng-click="operationCommand.type='jad'">
                            <option value="">----</option>
                        </select>
                    </div>
                </td>
                <td>
                    <input type="radio" ng-model="operationCommand.type" value="cfg">Config-Update
                </td>
                <td>
                    <div class="form-group nullable">
                        MainConfig<br>
                        <select ng-options="binary as binary.name+' vom '+(binary.lastUpdated | date:'dd.MM.yyyy HH:mm:ss') for binary in binaries | orderBy:'-lastUpdated' | filter:byType('cfg')"
                                ng-model="operationCommand.selectedMainConfig"
                                ng-click="operationCommand.type='cfg'"
                                id="carControl">
                            <option value="">----</option>
                        </select>
                    </div>
                    <div class="form-group nullable">
                        CustomConfig<br>
                        <select ng-options="binary as binary.name+' vom '+(binary.lastUpdated | date:'dd.MM.yyyy HH:mm:ss') for binary in binaries | orderBy:'-lastUpdated' | filter:byType('cfg')"
                                ng-model="operationCommand.selectedCustomConfig"
                                ng-click="operationCommand.type='cfg'"
                                id="customConfig">
                            <option value="">----</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td with="35%">
                    <input type="radio" ng-model="operationCommand.type" value="command">Command
                </td>
                <td with="65%" colspan="3">
                    <input type="text" ng-model="operationCommand.command" ng-minlength=1 ng-maxlength=50 ng-click="operationCommand.type='command'">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-primary" ng-click="sendOperation()">send</button>
                </td>
            </tr>
        </table>
        <div><strong>open Operations</strong></div>
        <table class="table table-condensed">
            <tr>
                <th ng-click="orderBy('id')">ID</th>
                <th ng-click="orderBy('creationTime')">Creation Time</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat-start="operation in operations | orderBy:sortorder" ng-click="toggleElement('operationlist'+operation.id)">
                <td width="20%">
                    <span>{{ operation.id}}</span>
                </td>
                <td width="30%">
                    <span>{{ operation.creationTime | date:'dd.MM.yyyy HH:mm:ss'}}</span>
                </td>
                <td width="50%">
                    <span>{{ operation.description}}</span>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="openItem == 'operationlist'+operation.id">
                <td colspan="3">
                    <div class="col-lg-12">
                        <i c8y-icon="bars" class="fa fw fa-bars"></i>Details
                        <div>{{ operation | json}}</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-default ng-scope">
<div class="panel-heading">
    <i c8y-icon="exchange" class="fa fw fa-exchange"></i> Files</div>
<div class="panel-body">
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">Supportet File-Types:</h4>
            <div ng-repeat="type in filetypes track by $index">
                {{type.extension}} (Content-Type: {{type.contentType}})
            </div>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">File</span>
        <input class="form-control ng-pristine ng-valid ng-valid-required" placeholder="No file selected" ng-model="uploadFile.name" ng-required="required" readonly="" style="overflow: hidden;">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-file-select="onFileSelect($files)" style="overflow: hidden;"><i c8y-icon="upload" class="fa fw fa-upload"></i><input type="file" class="btn btn-default" ng-file-select="onFileSelect($files)" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;"></button>
            <button class="btn btn-primary" ng-click="addFile()" ng-disabled="errorMsg">Upload</button>
        </span>
    </div>


    <table class="table">
        <tr>
            <th ng-click="orderBy('id')">ID</th>
            <th ng-click="orderBy('name')">Name</th>
            <th ng-click="orderBy('type')">Type</th>
            <th ng-click="orderBy('lastUpdated')">Last Update</th>
            <th></th>
        </tr>
        <tr ng-repeat-start="binary in binaries | orderBy:sortorder | limitTo:5">
            <td width="15%" ng-click="toggleElement('filelist'+binary.id)">
                <span>{{ binary.id}}</span>
            </td>
            <td width="25%" ng-click="toggleElement('filelist'+binary.id)">
                <span>{{ binary.name}}</span>
            </td>
            <td width="30%" ng-click="toggleElement('filelist'+binary.id)">
                <span>{{ binary.type}}</span>
            </td>
            <td width="20%" ng-click="toggleElement('filelist'+binary.id)">
                <span>{{ binary.lastUpdated | date:'dd.MM.yyyy HH:mm:ss'}}</span>
            </td>
            <td width="10%" class="text-right">
                <button class="btn btn-danger btn-xs showOnHover" title="Delete file" ng-click="deleteFile(binary.id)"><i c8y-icon="times" class="fa fw fa-times"></i></button>
            </td>
        </tr>
        <tr ng-repeat-end ng-if="openItem == 'filelist'+binary.id">
            <td colspan="4">
                <div class="col-lg-12">
                    <i c8y-icon="bars" class="fa fw fa-bars"></i>Details
                    <div>{{ binary | json}}</div>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
<div class="panel panel-default ng-scope">
<div class="panel-heading">
    <i c8y-icon="file-code-o" class="fa fw fa-file-code-o"></i> Config</div>
<div class="panel-body">
    <span ng-if="isNewFile"><strong>Mode: New</strong><hr></span>
    <span ng-if="!isNewFile"><strong>Mode: Edit</strong><hr></span>
    <strong>Filename:</strong> <input type="text" ng-model="file.name" ng-minlength=1 ng-maxlength=50 style="background-color: lightgray;"></br>
    <textarea ng-model="filecontent" style="width: 100%; background-color: lightgray;" ng-trim="false" rows="6"></textarea></br>
    <button type="button" class="btn btn-primary" ng-click="saveFile()">save As new</button>
    <button type="button" class="btn btn-primary" ng-click="saveAndDelete()">save and delete old File</button>
    <button type="button" class="btn btn-primary" ng-click="clearForm()" ng-if="!isNewFile">clear Form for new File</button>
    <hr>
    <table class="table">
        <tr>
            <th ng-click="orderBy('id')">ID</th>
            <th ng-click="orderBy('name')">Name</th>
            <th ng-click="orderBy('type')">Type</th>
            <th ng-click="orderBy('lastUpdated')">Last Update</th>
            <th></th>
        </tr>
        <tr ng-repeat-start="binary in binaries | orderBy:sortorder | filter:byType('cfg')">
            <td width="15%" ng-click="toggleElement(binary.id)">
                <span>{{ binary.id}}</span>
            </td>
            <td width="20%" ng-click="toggleElement(binary.id)">
                <span>{{ binary.name}}</span>
            </td>
            <td width="20%" ng-click="toggleElement(binary.id)">
                <span>{{ binary.type}}</span>
            </td>
            <td width="20%" ng-click="toggleElement(binary.id)">
                <span>{{ binary.lastUpdated | date:'dd.MM.yyyy HH:mm:ss'}}</span>
            </td>
            <td width="25%" class="text-right">
                <button class="btn btn-primary btn-xs" ng-click="editFile(binary.id)"><i c8y-icon="times" class="fa fw fa-pencil">&nbsp;</i></button>
                <button class="btn btn-danger btn-xs" title="Delete file" ng-click="deleteFile(binary.id)"><i c8y-icon="times" class="fa fw fa-trash">&nbsp;</i></button>
            </td>
        </tr>
        <tr ng-repeat-end ng-if="openItem == binary.id">
            <td colspan="5">
                <div class="col-lg-12">
                    <i c8y-icon="bars" class="fa fw fa-bars"></i>Details
                    <div>{{ binary | json}}</div>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>

